.buttons{
    display: flex;
}
.button{
    cursor: pointer;
    border: none;
    border-radius: 20px 8px;
    height: 56px;
    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
}
.join{
    width: 208px;
    background-color: rgba(5, 218, 201, 0.41);
}
.more-detailed{
    width: 103px;
    background: none;
    margin-left: 18px;
}