@media (max-width: 1300px){
    .container{
        width: 1070px;
    }
}
@media (max-width: 1170px){
    .container{
        width: 890px;
    }
    .main{
        &__title{
            font-size: 30px;
        }
        &__big-text{
            font-size: 65px;
        }
        &__robot-img{
            width: 45%;
        }
        &__description{
            font-size: 18px;
        }
    }
}
@media (max-width: 992px){
    .container{
        width: 690px;
    }
    .main{
        height: 834px;
        &__title{
            margin-bottom: 20px;
        }
        &__robot-img{
            display: none;
        }
        &__description{
            width: 300px;
            margin-bottom: 40px;
        }
        &__content-wrapper{
            display: flex;
        }
    }
    .header{
        margin-bottom: 180px;
        &__menu-item{
            font-size: 20px;
        }
    }
}

@media (max-width: 767px) {
    .container{
        width: 476px;
    }
    .hamburger-menu{
        display: block;
    }
    .header{
        &__menu-wrapper{
            margin: 0;
            display: none;
            position: absolute;
            top: 0px;
            right: 0;
            width: 50%;
            height: 100vh;
            background-color: #333;
            text-align: center;
            padding: 50px 10px;
            &.show-menu{
                display: block;
            }
        }
        &__menu-list{
            flex-direction: column;         
        }
        &__menu-item{
            margin-bottom: 20px;
            margin-left: 0;
        }
        &__menu-close{
            &.active{
                display: block;
            }
        }
    }
}
@media (max-width: 576px){

}