@media (max-width: 1300px){
    .container{
        width: 1070px;
    }
    .about-us{
        .active-slide{
            //display: block;
        }
        .prev-slide{
            width: 20%;
            height: 340px;
        }
        .next-slide{
            width: 20%;
            height: 340px;
        }
    }
}
@media (max-width: 1170px){
    .container{
        width: 890px;
    }
    .main{
        &__title{
            font-size: 30px;
        }
        &__big-text{
            font-size: 65px;
        }
        &__robot-img{
            width: 45%;
        }
        &__description{
            font-size: 18px;
        }
    }
    .cover-1{
        display: block;
        width: 700px;
        height: 0;
        background: none;
    }
    .why-ai{
        &__img{
            margin-top: 50px;
            width: 50%;
            height: 50%;
        }
    }
    .nobody{
        background: none;
        padding: 0;
        .cover-2{
            display: block;
            background: none;
            width: 50%;
        }
        &__date{
            font-size: 27px;
            text-decoration:underline;
            font-weight: 500;
            text-align: center;
        }
    }
    .about-us{
        &__photo-cover{
            height: 80%;
            width: 80%;
        }
        &__photo{
            height: 70%;
            width: 70%;
        }
        &__slider-item{
            width: 30%;
            height: 422px;
        }
        .prev-slide{
            width: 20%;
            height: 340px;
        }
        .next-slide{
            width: 20%;
            height: 340px;
        }
    }
}
@media (max-width: 992px){
    .container{
        width: 690px;
    }
    .main{
        height: 834px;
        &__title{
            margin-bottom: 20px;
        }
        &__robot-img{
            display: none;
        }
        &__description{
            width: 300px;
            margin-bottom: 40px;
        }
        &__content-wrapper{
            display: flex;
        }
    }
    .header{
        margin-bottom: 180px;
        &__menu-item{
            font-size: 20px;
        }
    }
    .why-ai{
        &__img{
            margin-top: 100px;
        }
        &__title{
            font-size: 45px;
        }
        &__text{
            font-size: 18px;
        }
    }
    .fs26{
        font-size: 24px;
    }
    .nobody{
        .cover-2{
            width: 70%;
        }
    }
    .results{
        min-height: 1050px;
        &__robot{
            display: none;
        }
        &__graph{
            img{
                width: 90%;
            }
        }
        
    }
    .about-us{
        .active-slide{
            width: 60%;
        }
        .prev-slide{
            display: none;
        }
        .next-slide{
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .container{
        width: 476px;
    }
    .hamburger-menu{
        display: block;
    }
    .header{
        &__menu-wrapper{
            margin: 0;
            display: none;
            position: absolute;
            top: 0px;
            right: 0;
            width: 50%;
            height: 100vh;
            background-color: #333;
            text-align: center;
            padding: 50px 10px;
            &.show-menu{
                display: block;
            }
        }
        &__menu-list{
            flex-direction: column;         
        }
        &__menu-item{
            margin-bottom: 20px;
            margin-left: 0;
        }
        &__menu-close{
            &.active{
                display: block;
            }
        }
    }
    .about-technology{
        background: #0B1D24;
        height: 670px;
        padding:  75px 0;
        &__title{
            font-size: 55px;
        }
        &__text{
            font-size: 17px;
        }
    }
    .why-ai{
        height: 550px;
        &__img{
            display: none;
        }
    }
    .cover-1{
        margin-top: 50px;
        display: block;
        width: 480px;
    }
    .nobody{
        .cover-2{
            width: 90%;
        }
    }

}
@media (max-width: 576px){
    .container{
        width: 300px;
    }
    .main{
        height: 734px;
        &__title{
            font-size: 20px;
        }
        &__big-text{
            font-size: 50px;
        }
        &__robot-img{
            display: none;
        }
        &__description{
            width: 300px;
            margin-bottom: 40px;
        }
        &__content-wrapper{
            display: flex;
        }
    }
    .button{
        a{
            font-size: 14px;
        }
    }
    .join{
        width: 158px;
    }
    .cover-1{
        margin-top: 50px;
        display: block;
        width: 200px;
    }
    .why-ai{
        display: none;
    }
    .nobody{
        display: none;
    }
    .results{
        min-height: 980px;
        margin-top: 300px;
        &__robot{
            display: none;
        }
        &__graph{
            img{
                width: 90%;
            }
        }
    }
    .about-us{
        height: 600px;
        .active-slide{
            width: 90%;
        }
        .prev-slide{
            display: none;
        }
        .next-slide{
            display: none;
        }
        &__buttons{
            button{
                font-size: 50px;
            }
        }
    }
}