@media (max-width: 1300px){
    .container{
        width: 1070px;
    }
}
@media (max-width: 1170px){
    .container{
        width: 890px;
    }
    .main{
        &__title{
            font-size: 30px;
        }
        &__big-text{
            font-size: 65px;
        }
        &__robot-img{
            width: 45%;
        }
        &__description{
            font-size: 18px;
        }
    }
}
@media (max-width: 992px){
}
@media (max-width: 768px){
}
@media (max-width: 576px){

}