@import 'fonts/strong';

body{
    background-color: #0B1D24;
    margin: 0;
    font-family: 'Strong';
}

.container{
    width: 1170px;
    margin: 0 auto;
}
.left-line{
    height: 57px;
    border-left: 3px solid #FFFFFF;
    margin-right: 17px;
}
//Base
@import 'base/base';
@import "base/buttons";

//Blocks
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about-technologyю';
@import 'blocks/why-ai';
@import 'blocks/nobody';
@import 'blocks/results';
@import 'blocks/about-us';
@import 'blocks/plan';