.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 280px;
    &__menu-list {
        list-style-type: none;
        display: flex;
    }
    &__menu-item {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        font-family: 'Strong';
        a{
            color: #fff;
            text-decoration: none;
        }
        margin-left: 80px;
        &:first-child{
            margin-left: 0;
        }
        
    }
    &__social-item{
        text-decoration: none;
        margin-left: 15px;
    }
    &__menu-wrapper{
        display: flex;
        align-items: center;
        position: relative;
    }
    &__menu-close{
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
        cursor: pointer;
        transition: 0.2s all;
        background: none;
        border: none;
        font-size: 25px;
        color: rgba(195, 195, 195, 0.7);
    }
}
.hamburger-menu {
    display: none;
}


.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
}