.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 280px;
    &__menu-list {
        list-style-type: none;
        display: flex;
    }
    &__menu-item {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        font-family: 'Strong';
        a{
            color: #fff;
            text-decoration: none;
        }
        margin-left: 80px;
        &:first-child{
            margin-left: 0;
        }
        
    }
    &__social-item{
        text-decoration: none;
        margin-left: 15px;
        &:first-child{
            margin-left: 0;
        }
    }
}