.main{
    height: 1034px;
    background:url('../img/bg/фон.jpg') 0 0/cover no-repeat;
    &__wrapper{
        position: relative;
    }
    &__robot-img{
        position: absolute;
        top: 350px;
        right: -140px;
        width: 800px;
    }
    &__title{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        color: #00B292;
        margin-bottom: 38px;
    }
    &__big-text{
        color: #FFF;
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    &__description{
        display: flex;
        width: 468px;
        color: #C7E1E1;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 136.364% */
        letter-spacing: 1.1px;
        text-transform: lowercase;
        margin-bottom: 64px;
    }
}
