
.modal{
    position: absolute;
    top: 0;
    width: 261px;
    height: 290px;
    padding-left: 18px;
    padding-top: 53px;
    background: linear-gradient(91deg, rgba(0, 192, 177, 0.4) -3.66%, rgba(0, 143, 163, 0.4) 49.48%, rgba(0, 163, 153, 0.4) 100.28%);
    border-radius: 28px 8px;
    border: 8px solid rgba(8, 18, 23, 0.7);
    box-shadow: 0px 0px 0px 2px rgb(82, 255, 245);
    
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .dp-n{
        display: none;
    }
    
    &__btn{
        position: absolute;
        bottom: 0px;
        border: none;
        color: rgba(195, 195, 195, 0.7);;
        background: none;
        font-size: 55px;
        &:hover{
            color: #54FFE0;
        }
        
    }
    #prev-year{
        left: 10px;
    }
    #next-year{
        right: 10px;
    }
    #close{
        background: none;
        border: none;
        position: absolute;
        top: -35px;
        right: 10px;
    }
    &__year{
        color: #FFF;
        font-family: Strong;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    &__title{
        color: #00d6af;
        font-family: Strong;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 125% */
    }
    &__text{
        color: #FFF;
        font-family: Strong;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 111.111% */
    }
}
.year-2019{
    left: 100px;
}
.year-2020{
    left: 235px;
}
.year-2021{
    left: 390px;
}
.year-2022{
    left: 535px;
}
.year-2023{
    left: 705px;
}
.year-2024{
    left: 640px;
    width: 460px;
}