.road-map{
    padding: 100px;
    background: url('../img/bg/фон_карты.png') 0 0/cover no-repeat;
    &__sity{
        position: relative;
        //box-shadow: 0px 0px 0px 2px rgb(82, 255, 245);
        margin-bottom: 25px;
    }
    &__years-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        //border: 1px solid #FFF;
        width: 15%;
        text-align: center;
        
    }
    &__crystal{
        cursor: pointer;
        margin-bottom: 35px;
    }
    &__year{
        color: #FFF;
        text-align: center;
        font-family: Strong;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &__descr{
        text-align: center;
        font-family: Strong;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
        margin-bottom: 23px;
    }
    &__open{
        cursor: pointer;
        background-image: linear-gradient(91deg, rgba(5, 218, 201, 0.41) -3.66%, rgba(0, 143, 163, 0.20) 49.48%, rgba(0, 174, 164, 0.38) 100.28%);
        background-color: rgba(2, 130, 133, 0.25);
        border: 2px solid #00D6DA;
        border-radius: 12px 8px;
        width: 110px;
        height: 30px;
        img{
            margin-top: 2px;
        }
    }
}