@font-face {
	font-family: 'Strong';
	src: url('../fonts/strong.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/strong.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/strong.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/strong.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/strong.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/strong.svg#strong') format('svg'); /* Chrome < 4, Legacy iOS */
}