@charset "UTF-8";
@font-face {
  font-family: "Strong";
  src: url("../fonts/strong.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/strong.eot?#iefix") format("embedded-opentype"), url("../fonts/strong.woff2") format("woff2"), url("../fonts/strong.woff") format("woff"), url("../fonts/strong.ttf") format("truetype"), url("../fonts/strong.svg#strong") format("svg"); /* Chrome < 4, Legacy iOS */
}
body {
  background-color: #0B1D24;
  margin: 0;
  font-family: "Strong";
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.left-line {
  height: 57px;
  border-left: 3px solid #FFFFFF;
  margin-right: 17px;
}

.recolor-text {
  color: #00d6af;
}

.fs26 {
  font-size: 26px;
}

.tt-upper {
  text-transform: uppercase;
}

.cover-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  height: 110px;
  background: url("../img/cover-1.png") center center no-repeat;
}

.cover-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  height: 110px;
  background: url("../img/cover-2.png") center center no-repeat;
}

.buttons {
  display: flex;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 20px 8px;
  height: 56px;
  color: white;
  font-size: 16px;
}
.button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.join {
  width: 208px;
  background-image: linear-gradient(91deg, rgba(5, 218, 201, 0.41) -3.66%, rgba(0, 143, 163, 0.2) 49.48%, rgba(0, 174, 164, 0.38) 100.28%);
  background-color: rgba(2, 130, 133, 0.25);
  border: 2px solid #00D6DA;
}

.more-detailed {
  width: 103px;
  background: none;
  margin-left: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 280px;
}
.header__menu-list {
  list-style-type: none;
  display: flex;
}
.header__menu-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Strong";
  margin-left: 80px;
}
.header__menu-item a {
  color: #fff;
  text-decoration: none;
}
.header__menu-item:first-child {
  margin-left: 0;
}
.header__social-item {
  text-decoration: none;
  margin-left: 15px;
}
.header__menu-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.header__menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  transition: 0.2s all;
  background: none;
  border: none;
  font-size: 25px;
  color: rgba(195, 195, 195, 0.7);
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
}

.main {
  height: 1034px;
  background: url("../img/bg/фон.jpg") 0 0/cover no-repeat;
}
.main__robot-img {
  width: 50%;
}
.main__content-wrapper {
  display: flex;
  justify-content: space-between;
}
.main__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  color: #00B292;
  margin-bottom: 38px;
}
.main__big-text {
  color: #FFF;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main__description {
  display: flex;
  width: 468px;
  color: #C7E1E1;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  letter-spacing: 1.1px;
  text-transform: lowercase;
  margin-bottom: 64px;
}

.about-technology {
  background: #0B1D24;
  height: 670px;
  padding: 75px 0;
}
.about-technology__title {
  color: #FFF;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 39px;
}
.about-technology__text {
  color: #FFF;
  font-family: Strong;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.why-ai {
  height: 750px;
}
.why-ai__title {
  color: #fff;
  text-align: center;
  font-family: Strong;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.why-ai__text {
  margin-top: 111px;
  color: #fff;
  width: 713px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
}
.why-ai__content-wrapper {
  display: flex;
}
.why-ai__img {
  top: -30px;
  left: 0px;
  width: 50%;
}

.nobody {
  background: linear-gradient(92deg, rgba(0, 178, 146, 0) 1.61%, rgba(0, 122, 100, 0.6) 28.98%, #69ECEC 50.22%, rgba(9, 19, 23, 0) 95.85%) 0 27px/100% 4px no-repeat, linear-gradient(92deg, rgba(0, 178, 146, 0) 1.61%, rgba(0, 122, 100, 0.6) 28.98%, #69ECEC 50.22%, rgba(9, 19, 23, 0) 95.85%) 0 570px/100% 4px no-repeat;
  height: 500px;
  padding: 90px 0 0 0;
}
.nobody__title {
  text-align: center;
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 70px;
}
.nobody__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 75px;
}
.nobody__date {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.results {
  min-height: 1213px;
}
.results .full-table {
  height: 100%;
  overflow-y: hidden;
}
.results__table {
  margin: 0 auto;
  height: 305px;
  margin-bottom: 37px;
  overflow-y: scroll;
}
.results__table::-webkit-scrollbar {
  width: 6px;
}
.results__table::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.28);
  border-radius: 10px;
}
.results__table::-webkit-scrollbar-thumb {
  background: radial-gradient(65.2% 65.96% at 60% 34.8%, #00AD8E 0.93%, #007A64 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.results__table img {
  width: 98%;
}
.results__title {
  color: #FFF;
  font-family: Strong;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 29px;
}
.results__sub-title {
  color: #FFF;
  font-family: Strong;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 67px;
}
.results__wrapper {
  position: relative;
  padding-top: 67px;
}
.results__robot {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.results__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 58px;
}
.results__graph {
  text-align: center;
}

.about-us {
  height: 700px;
  padding: 60px 0;
  /* Анимация для перехода справа */
}
.about-us__wrapper {
  position: relative;
}
.about-us__title {
  color: #FFF;
  text-align: center;
  font-family: Strong;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.about-us__slider-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}
.about-us .slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  transition: 0.5s;
}
.about-us .prev-slide {
  opacity: 0.5;
  left: 18%;
  transform: translateX(-50%);
  width: 300px;
  height: 340px;
}
.about-us .next-slide {
  opacity: 0.5;
  left: 82%;
  transform: translateX(-50%);
  width: 300px;
  height: 340px;
}
.about-us__slider-item {
  transition: 0.7s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 369px;
  height: 422px;
  background: linear-gradient(91deg, rgba(0, 192, 177, 0.12) -3.66%, rgba(0, 143, 163, 0.02) 49.48%, rgba(0, 163, 153, 0.1) 100.28%);
  border-radius: 28px 8px;
  border: 8px solid rgba(8, 18, 23, 0.7);
  box-shadow: 0px 0px 0px 2px rgb(82, 255, 245);
}
.about-us__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-us__photo-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
}
.about-us__photo-cover {
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
  width: 90%;
}
.about-us__photo {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  height: 80%;
  width: 80%;
}
.about-us__name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 255px;
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us__post {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 285px;
  color: #00d6af;
  font-family: Strong;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us__buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 330px;
}
.about-us__buttons button {
  border: none;
  color: rgba(195, 195, 195, 0.39);
  background: none;
  font-size: 55px;
}
.about-us__buttons button:hover {
  color: #54FFE0;
}
.about-us__buttons button:last-child {
  margin-left: 20px;
}

.plan {
  padding: 50px 0;
}
.plan__wrapper {
  background: url("../img/bg/мозг фон.png") center center no-repeat;
}
.plan__title {
  color: #FFF;
  font-family: Strong;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.plan__text {
  color: #FFF;
  font-family: Strong;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  width: 261px;
  height: 290px;
  padding-left: 18px;
  padding-top: 53px;
  background: linear-gradient(91deg, rgba(0, 192, 177, 0.4) -3.66%, rgba(0, 143, 163, 0.4) 49.48%, rgba(0, 163, 153, 0.4) 100.28%);
  border-radius: 28px 8px;
  border: 8px solid rgba(8, 18, 23, 0.7);
  box-shadow: 0px 0px 0px 2px rgb(82, 255, 245);
}
.modal__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal .dp-n {
  display: none;
}
.modal__btn {
  cursor: pointer;
  transition: 0.2s all;
  position: absolute;
  bottom: 0px;
  border: none;
  color: rgba(195, 195, 195, 0.7);
  background: none;
  font-size: 55px;
}
.modal__btn:hover {
  color: #54FFE0;
}
.modal #prev-year {
  left: 10px;
}
.modal #next-year {
  right: 10px;
}
.modal #close {
  cursor: pointer;
  transition: 0.2s all;
  background: none;
  border: none;
  position: absolute;
  top: -35px;
  right: 10px;
  font-size: 20px;
  color: rgba(195, 195, 195, 0.7);
}
.modal #close:hover {
  color: #54FFE0;
}
.modal__year {
  color: #FFF;
  font-family: Strong;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.modal__title {
  color: #00d6af;
  font-family: Strong;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
}
.modal__text {
  color: #FFF;
  font-family: Strong;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

.year-2019 {
  left: 100px;
}

.year-2020 {
  left: 235px;
}

.year-2021 {
  left: 390px;
}

.year-2022 {
  left: 535px;
}

.year-2023 {
  left: 705px;
}

.year-2024 {
  left: 640px;
  width: 460px;
}

.b-show {
  display: block;
  animation: showBlock 0.2s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.road-map {
  padding: 100px;
  background: url("../img/bg/фон_карты.png") 0 0/cover no-repeat;
}
.road-map__sity {
  position: relative;
  margin-bottom: 25px;
}
.road-map__years-wrapper {
  display: flex;
  justify-content: space-between;
}
.road-map__item {
  width: 15%;
  text-align: center;
}
.road-map__crystal {
  cursor: pointer;
  margin-bottom: 35px;
}
.road-map__year {
  color: #FFF;
  text-align: center;
  font-family: Strong;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.road-map__descr {
  text-align: center;
  font-family: Strong;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  margin-bottom: 23px;
}
.road-map__open {
  cursor: pointer;
  background-image: linear-gradient(91deg, rgba(5, 218, 201, 0.41) -3.66%, rgba(0, 143, 163, 0.2) 49.48%, rgba(0, 174, 164, 0.38) 100.28%);
  background-color: rgba(2, 130, 133, 0.25);
  border: 2px solid #00D6DA;
  border-radius: 12px 8px;
  width: 110px;
  height: 30px;
}
.road-map__open img {
  margin-top: 2px;
}

.how-join {
  background: linear-gradient(92deg, rgba(0, 178, 146, 0) 1.61%, rgba(0, 122, 100, 0.6) 28.98%, #69ECEC 50.22%, rgba(9, 19, 23, 0) 95.85%) 0 690px/100% 4px no-repeat;
  height: 700px;
}
.how-join__wrapper {
  display: flex;
}
.how-join__content {
  margin-top: 180px;
}
.how-join__title {
  color: #FFF;
  font-family: Strong;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
}
.how-join__button-wrapper {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.how-join__button-wrapper:last-child {
  margin-bottom: 0;
}
.how-join__button-img {
  width: 47px;
  height: 47px;
}
.how-join__button {
  cursor: pointer;
  background-image: linear-gradient(91deg, rgba(5, 218, 201, 0.41) -3.66%, rgba(0, 143, 163, 0.2) 49.48%, rgba(0, 174, 164, 0.38) 100.28%);
  background-color: rgba(2, 130, 133, 0.25);
  border: 2px solid #00D6DA;
  width: 260px;
  border-radius: 20px 8px;
  height: 56px;
  color: white;
  font-size: 16px;
  margin-left: 25px;
}

.footer {
  height: 100px;
  padding: 25px 0;
}
.footer__copipast {
  color: rgba(45, 255, 217, 0.26);
  text-align: center;
  font-family: Strong;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.footer__socials {
  display: flex;
  justify-content: center;
}
.footer__social {
  display: block;
  margin-right: 15px;
}
.footer__social:last-child {
  margin-right: 0;
}

@media (max-width: 1300px) {
  .container {
    width: 1070px;
  }
}
@media (max-width: 1170px) {
  .container {
    width: 890px;
  }
  .main__title {
    font-size: 30px;
  }
  .main__big-text {
    font-size: 65px;
  }
  .main__robot-img {
    width: 45%;
  }
  .main__description {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 690px;
  }
  .main {
    height: 834px;
  }
  .main__title {
    margin-bottom: 20px;
  }
  .main__robot-img {
    display: none;
  }
  .main__description {
    width: 300px;
    margin-bottom: 40px;
  }
  .main__content-wrapper {
    display: flex;
  }
  .header {
    margin-bottom: 180px;
  }
  .header__menu-item {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 476px;
  }
  .hamburger-menu {
    display: block;
  }
  .header__menu-wrapper {
    margin: 0;
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #333;
    text-align: center;
    padding: 50px 10px;
  }
  .header__menu-wrapper.show-menu {
    display: block;
  }
  .header__menu-list {
    flex-direction: column;
  }
  .header__menu-item {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .header__menu-close.active {
    display: block;
  }
}